body {
  @apply bg-gray-950 text-soft-white text-18;
}
main {
  @apply mt-[112px];
}
h1, .h1 {
  @apply text-64 font-play font-[800];
}
h2, .h2 {
  @apply text-48 font-[700] white-text-gradient;
}
h3, .h3 {
  @apply text-32 font-[600] white-text-gradient;
}
h4, .h4 {
  @apply text-24 font-[500] white-text-gradient;
}
a {
  @apply underline hover:text-primary-yellow;
}
