@font-face {
    font-family: "Archivo";
    src: url("../assets/fonts/Archivo/Archivo-VariableFont.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Archivo";
    src: url("../assets/fonts/Archivo/Archivo-Italic-VariableFont.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Monoton";
    font-style: normal;
    font-weight: regular;
    font-display: swap;
    src: url('../assets/fonts/Monoton/Monoton-Regular.ttf') format("truetype");
}