.skills-list {
    @apply container pt-[4rem] md:py-[6.25rem] grid md:grid-cols-2 gap-[2.5rem];

    .intro,
    .list {
        @apply flex flex-col gap-y-[2.5rem];
    }
    .title,
    p {
        @apply text-[1.25rem];
    }

    .list ul {
        @apply font-bold flex flex-col gap-y-[1rem];

        li {
            @apply flex justify-between;
        }

        li:not(:last-child) {
            @apply border-b border-primary-orange pb-[1rem];
        }
    }
}
