---
import { fetchProfile } from "../sanity/api";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.vue";
import Hero from "../components/Hero.vue";
import Footer from "../components/Footer.vue";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const profile = await fetchProfile();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <Hero />
      <p>
        {profile?.bio}
      </p>
    </main>
    <Footer />
  </body>
</html>
