---
import { fetchFeaturedProjects, fetchGlobal, fetchProfile } from '../lib/api';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.vue';
import Hero from '../components/Hero.vue';
import ImageCarousel from '../components/ImageCarousel.vue';
import ImageTextTout from '../components/ImageTextTout.vue';
import SkillsSection from '../components/SkillsList.vue';
import FeaturedProjects from '../components/FeaturedProjects.vue';
import Footer from '../components/Footer.vue';

const global = await fetchGlobal();
const profile = await fetchProfile();
const featuredProjects = await fetchFeaturedProjects();

// console.log(featuredProjects);
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead
      title={`Ray Luna | ${global?.title}`}
      description={global?.description}
    />
  </head>
  <body>
    <main>
      <Hero />
      <ImageCarousel />
      <ImageTextTout />
      <SkillsSection />
      <FeaturedProjects projects={featuredProjects} />
      <Footer />
    </main>
  </body>
</html>
