---
import IconDarkMode from './icons/IconDarkMode.vue'
---
<div
    id="dark-mode-btn"
    class="bg-theme px-[1rem] hover:cursor-pointer block dark:text-light-yellow"
>
    I/O
    <!-- <IconDarkMode/> -->
</div>

<script is:inline>
    const toggleDarkMode = () => {
        const darkModeBtn = document.getElementById("dark-mode-btn");
        if (darkModeBtn) {
            const isDarkMode =
                document.documentElement.classList.contains("dark");
            if (isDarkMode) {
                document.documentElement.classList.remove("dark");
                localStorage.setItem("theme", "light");
            } else {
                document.documentElement.classList.add("dark");
                localStorage.setItem("theme", "dark");
            }
        }
    };
    document.addEventListener("astro:page-load", (ev) => {
        const darkModeBtn = document.getElementById("dark-mode-btn");
        if (darkModeBtn) {
            darkModeBtn.addEventListener("click", toggleDarkMode);
        }
    });
</script>
