---
const today = new Date();
---

<footer>
	<div class="dev">This Page is development</div>
	&copy; {today.getFullYear()} Ray Luna
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
