---
import { fetchProject } from '../../lib/api';
import Hero from '../../components/Hero.vue';

import PageLayout from '../../layouts/PageLayout.astro';

const project = await fetchProject(Astro.params.slug || '');

if (!project) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found',
    });
}

console.log(project);
---

<PageLayout title='Project Detail' class='project-detail-page'>
    <Hero showLinks={false}>
        <h1 slot='title' class='title'>{project[0].title}</h1>
    </Hero>
</PageLayout>
