---
import { fetchProject } from '../../lib/api';
import Hero from '../../components/Hero.vue';

import PageLayout from '../../layouts/PageLayout.astro';

export function getStaticPaths() {
    return [{ params: { slug: 'astro-portfolio' } }];
}

const { slug } = Astro.params;
---

<PageLayout title='Project Detail' class='project-detail-page'>
    <Hero showLinks={false}>
        <h1 slot='title' class='title'>{slug}</h1>
    </Hero>
</PageLayout>
