---
import {
  fetchFeaturedProjects,
  fetchGlobal,
  fetchProfile,
  fetchSkills,
} from '../../lib/api';

import PageLayout from '../../layouts/PageLayout.astro';

const featuredProjects = await fetchFeaturedProjects();
const global = await fetchGlobal();
const profile = await fetchProfile();
const skills = await fetchSkills();
---

<PageLayout title="project-detail-page">
    <h1>Project Detail Page</h1>
</PageLayout>
