---
import { fetchProject } from '../../lib/api';
import { sanityPortableText } from '../../lib/text';

import DetailHeader from '../../components/DetailHeader.vue';
import PageLayout from '../../layouts/PageLayout.astro';
import TechList from '../../components/TechList.vue';

const project = await fetchProject(Astro.params.slug || '');

if (!project) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found',
    });
}
---

<PageLayout title='Project Detail'>
    <DetailHeader title={project.title} image={project.mainImage} description={project.description}/>
    <div class='project-details'>
        <div class="links">
            <h2 class="title">Links</h2>
        </div>
        <div class="technologies">
            <TechList title={'Technologies'} items={project.technologies}/>
        </div>
    </div>
</PageLayout>
