---
import {
  fetchFeaturedProjects,
  fetchGlobal,
  fetchProfile,
  fetchSkills,
} from '../../lib/api';

import PageLayout from '../../layouts/PageLayout.astro';

const { slug } = Astro.params;

---

<PageLayout title="Project Detail">
    <h1>Project Detail Page</h1>
</PageLayout>
