
.image-text-tout {
    position: relative;
}

#disco-ball {
position: relative;
border: 3px solid red;
width: 100%;
height: 100%;

    .tres-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 30vh;
        height: 30vh;

    }
    
    #tres-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 30vh;
        height: 30vh;
        // background: radial-gradient(circle, #000 0%, #000 100%);
    }
    
    .overlay-block {
        width: 33%;
        height: 40%;
        max-width: 30vh;
        max-height: 30vw;
    }
}