
#disco-ball {
border:2px solid red;
    .tres-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #tres-canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, #000 0%, #000 100%);
    }
    
    .overlay-block {
        width: 33%;
        height: 40%;
        max-width: 30vh;
        max-height: 30vw;
    }
}