.btn {
    @apply flex justify-center items-center px-[1.25rem] py-[0.625rem] rounded-full font-bold hover:cursor-pointer no-underline;

    &.disabled {
        @apply bg-black text-primary-red hover:cursor-not-allowed;
    }
    &.dark {
        @apply bg-black text-primary-orange;
    }
    &.light {
        @apply text-white bg-primary-red border border-neutral-brown;
    }
}

.btn-links {
    @apply flex flex-col md:flex-row justify-center gap-[0.625rem];
}

.tag {
    @apply bg-neutral-brown text-primary-yellow uppercase py-[0.3rem] px-[0.6rem] font-semibold text-[0.75rem] rounded-lg;
}
