.card.featured-project {
    @apply flex flex-col gap-y-[1.875rem];

    .img-wrap img {
        @apply rounded-3xl w-full aspect-square object-cover zoom-in-out border border-black;
    }

    .text {
        @apply flex flex-col gap-y-[0.625rem] text-[1.125rem];

        .title {
            @apply font-bold;
        }
        .description {
            @apply line-clamp-3;
        }
    }
}
.card.thumbnail-link {
    @apply flex gap-x-[1rem] no-underline;

    .img-wrap {
        @apply w-[125px] h-[125px] col-span-1 flex-shrink-0;
    }

   img {
        @apply object-cover h-full w-full border border-neutral-brown rounded-xl;
    }
    .project-title {
        @apply font-semibold;
    }
    .link-info {
        @apply flex justify-between gap-x-[1rem] w-full;

        .text {
            @apply flex flex-col w-full;
        }
        .icon {
            @apply flex;

            svg {
                @apply  h-[1rem] w-[1rem];
            }
        }
    }
    .title-section {
        @apply flex justify-between w-full;
    }
    .intro {
        @apply pr-[2rem] lg:pr-[6.25rem] line-clamp-4 md:line-clamp-none;
    }
}
