@font-face {
    font-family: "Archivo";
    src: url("../fonts/Archivo/Archivo-VariableFont.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Archivo";
    src: url("../fonts/Archivo/Archivo-Italic-VariableFont.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Monoton";
    font-style: normal;
    font-weight: regular;
    font-display: swap;
    src: url('../fonts/Monoton/Monoton-Regular.ttf') format("truetype");
}

// @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
