.featured-projects .section-title {
    @apply container pb-[4rem] flex flex-col md:flex-row justify-between gap-y-[1rem];

    a {
        @apply uppercase font-bold;
    }

    h3 {
        @apply text-[1.25rem];
    }
}
.project-grid {
    @apply grid md:grid-cols-2 lg:grid-cols-3 container gap-[2.5rem];
}

.image-carousel {
    @apply container flex justify-center md:justify-between gap-x-[1.25rem];

    .slide {
        @apply flex justify-center items-center aspect-square rounded-3xl p-[2rem] max-w-[460px] w-fit;

        &.brown {
            @apply bg-neutral-brown hidden md:block;

            img:not(.top) {
                @apply img-sepia;
            }
        }
        &.black {
            @apply bg-black;
            img:not(.top) {
                @apply img-grayscale;
            }
        }
        img {
            @apply aspect-square object-cover rounded-3xl;
        }
    }
}

.thumbnail-links {
    @apply grid xl:grid-cols-2 gap-x-[1rem] gap-y-[2rem];
}

.image-gallery {
    @apply grid grid-cols-2 xl:grid-cols-3 gap-[1rem];

    .img-wrap {
        img {
            @apply rounded-2xl border border-neutral-brown w-full;
        }
    }
}
