#top-bg {
    @apply fixed w-screen top-0 h-[1rem] z-[2] bg-primary-yellow;
}

#header {
    @apply sticky top-0 md:top-[1rem] bg-primary-yellow z-[2];

    a {
        @apply no-underline;
    }

    .top-label {
        @apply container flex items-center justify-center border-t border-b border-black md:border-none;

        .divider {
            @apply flex-grow bg-black h-[2px] hidden md:block;
        }
        .label-text {
            @apply px-4 py-[1rem] md:py-0 flex justify-center gap-x-[0.5rem] flex-col md:flex-row;
        }
        .text-item {
            @apply text-center font-bold text capitalize;
        }
        .dash {
            @apply hidden md:block;
        }
    }
}

.hero {
    @apply container;

    .top-label {
        @apply flex items-center justify-center;

        span {
            @apply px-4 text-center font-bold text;
        }

        .divider {
            @apply flex-grow bg-black h-[2px];
        }
    }

    .hero-text {
        @apply flex justify-center;

        .inner {
            @apply max-w-[800px] text-center;
        }
        .title {
            @apply pt-[1.875rem] md:pt-[3.125rem] text-center text-[4rem] md:text-[6rem];
        }
        .subtitle {
            @apply text-[2.188rem] md:text-[4rem];
        }
        .intro {
            @apply py-[1.875rem] text-[1.25rem] font-light;
        }
    }
}

.detail-header {
    @apply border-black pt-[2.5rem] md:pb-0 md:pt-[6.25rem];

    .inner {
        @apply md:container grid md:grid-cols-2 gap-y-[3.125rem] md:gap-[4rem];
    }

    .label {
        @apply bg-neutral-brown text-primary-yellow uppercase py-[0.3rem] px-[0.6rem] font-semibold text-[0.75rem] rounded-lg;
    }
    .text {
        @apply flex flex-col gap-y-[1rem] lg:gap-y-[2.5rem] items-center justify-center text-center;

        h1 {
            @apply h2 flex;
        }
    }
    @media (max-width: 740px) {
        .text {
            @apply container;
        }
    }
    .description {
        @apply text-[1.25rem] md:line-clamp-5;
    }
    .image {
        @apply flex aspect-square flex-col gap-y-[1.5rem] order-last md:order-none;

        .btn {
            @apply py-[0.2rem];
        }

        img {
            @apply object-cover md:rounded-3xl border-y md:border-2 border-neutral-brown;
        }
    }
    .btn-links {
        @apply mt-[1.5rem] md:mt-0 w-full;
    }
    .btn {
        @apply w-full md:w-[6rem];
    }
}
