#top-bg {
    @apply fixed w-screen top-0 h-[1rem] z-[2] bg-primary-yellow;
}

#header {
    @apply sticky top-0 md:top-[1rem] bg-primary-yellow z-[2];

    .top-label {
        @apply container flex items-center justify-center border-t border-b border-black md:border-none;

        span {
            @apply px-4 py-[1.25rem] md:py-0 text-center font-bold text;
        }

        .divider {
            @apply flex-grow bg-black h-[2px] hidden md:block;
        }
    }
}

.hero {
    @apply container;

    .top-label {
        @apply flex items-center justify-center;

        span {
            @apply px-4 text-center font-bold text;
        }

        .divider {
            @apply flex-grow bg-black h-[2px];
        }
    }

    .hero-text {
        @apply flex justify-center;

        .inner {
            @apply max-w-[800px] text-center;
        }
        .title {
            @apply pt-[1.875rem] md:pt-[3.125rem] text-center text-[4rem] md:text-[6rem];
        }
        .subtitle {
            @apply text-[2.188rem] md:text-[4rem];
        }
        .intro {
            @apply py-[1.875rem] text-[1.25rem] font-light;
        }
    }

    .btn-links {
        @apply flex flex-col md:flex-row justify-center gap-[0.625rem];
    }
}

.detail-header {
    @apply md:py-[4rem];

    .inner {
        @apply container grid md:grid-cols-2 gap-[2.5rem];
    }
    .title {
        @apply flex justify-center items-center text-center;
    }
    .image {
        @apply flex md:p-[4rem];

        img {
            @apply aspect-square object-cover rounded-3xl border border-black flex;
        }
    }
}
