.project-details {
    @apply container grid md:grid-cols-3 gap-[2.5rem] md:gap-x-[6.25rem];

    .title {
        @apply text-[1.25rem] pb-[2rem] md:pb-[2.5rem];
    }
    .portable-text {
        @apply md:text-[1.25rem];
    }
    .data {
        @apply flex flex-col justify-between gap-y-[2.5rem] md:col-span-2 order-first md:order-none;
    }
    .top {
        @apply flex flex-col gap-y-[2.5rem];
    }
}
