.link-list {
    @apply font-bold flex flex-col gap-y-[1rem];

    li {
        @apply flex flex-col gap-y-[1rem];
    }

    li:not(:last-child) {
        @apply border-b border-primary-orange pb-[1rem];
    }

    .description {
        @apply text-[0.875rem] font-light;
    }

    .title {
        @apply flex justify-between pb-0 items-center text-[1rem];
    }

    .chevron {
        @apply h-[1rem];
    }
}

.skills-list {
    @apply container flex flex-col gap-y-[5rem];

    .bottom {
        @apply grid md:grid-cols-3 gap-[2.5rem];
    }

    .intro,
    .list {
        @apply flex flex-col gap-y-[2.5rem];
    }
    .title,
    p {
        @apply text-[1.25rem];
    }
}

.info-list {
    @apply flex flex-col gap-y-[1rem] md:grid md:grid-cols-2;
    a {
        @apply no-underline;
    }
    li {
        @apply flex flex-col;
    }
    .label {
        @apply font-bold text-[0.875rem] uppercase;
    }
}

.bar-graph {
    @apply flex flex-col gap-y-[0.6rem];
    li {
        @apply flex flex-col gap-y-[0.1rem];

        .value {
            @apply grid grid-cols-6;
        }
        .bar {
            @apply col-span-5;
        }
        .fill {
            @apply h-[15px] rounded-full border border-neutral-brown;
        }
        .label {
            @apply col-span-1 leading-none pl-1;
        }
    }
}

.thumbnail-links {
    @apply flex flex-col gap-y-[1.5rem];
}