.image-text-tout {
    @apply overflow-hidden;

    .inner {
        @apply container grid md:grid-cols-2;
    }

    .text {
        @apply text-center md:text-left flex justify-center flex-col;

        .label {
            @apply font-semibold;
        }
        p {
            @apply font-monoton text-[2rem] md:text-[3.125rem] pt-[1rem] md:pt-[2.5rem];
        }
    }

    .img-wrap {
        @apply hidden md:flex relative justify-end items-center h-[98%] aspect-square overflow-hidden;

        img {
            @apply absolute animate-spin-slow object-cover rounded-full;
        }
    }
}

.text-tout {
    @apply container;

    .title, .text {
        @apply text-[1.25rem];
    }

    .text {
        @apply pt-[2.5rem];
    }
}